@media screen and (min-width: 768px){
	.menu{
		display: none;
	}
	.logo{
		margin: 2rem auto;
		height: 5rem;
	}
	.logo p{
		display: none;
	}
	.logo img{
		display: block;
    }
    .ph{
        display: inline;
    }
    .search{
		padding: 2.5rem 2.5rem 0 0;
        /* height: 5rem; */
	}
	nav ul{
		padding: 1rem 0 0 0;
		text-align: center;
	}
	nav ul li{
		background-color: white;
		display: inline;
		padding: 0 1rem;
	}

	nav ul li:nth-child(n+1) a{
        letter-spacing: .1rem;
		background-color: white;	
	}
	nav ul{
		background: #ffffff;
	}
	nav a{
		font-size: .8rem;
	}
	aside{
		margin: 3rem 0 0 0;
	}

	main p{
		font-size: .8rem;
		padding: 5rem 7rem 1rem 0;		
	}
	footer{
		float: right;
	}

	.grid{
		display: grid;
		grid-template-columns: 5rem 23rem 1fr 5rem;
		grid-template-rows: 9vh auto;
		grid-template-areas: 
		"menu logo logo search"
		"ph ph ph ph"
        "nav nav nav nav"
        "aside aside aside aside"
		". main main ."
		". media footer .";
	}
}