.grid{
	display: grid;
	grid-template-columns: 4rem 1fr 1fr 5rem;
	grid-template-rows: 9vh auto;
	grid-template-areas: 
	"menu logo logo search"
	"ph ph ph ph"
	"nav nav nav nav"
	"aside aside aside aside"
	"main main main main"
	"media media . footer";
}
@media screen and (min-width: 960px){
	main{
		text-align: center;
		max-width: 62%;
		margin: auto;
	}
	main p{
		font-size: .8rem;
		padding: 2.5rem 0;		
	}
	nav ul li:nth-child(4) a{
		color: #27849d;
	}
	li:nth-child(4) > a:before{
	visibility: hidden;
	}
	.grid{
		display: grid;
		grid-template-columns: 5rem 1fr 1fr 5rem;
		grid-template-rows: 9vh auto;
		grid-template-areas: 
		"menu logo logo search"
		"ph ph ph ph"
		"nav nav nav nav"
		". main main ."
		". media footer .";
	}
}



/* nav{
	grid-area: nav;
	width: 100%;
	display: none;
	height: 4rem;
	width: 100%; 
	border-bottom: black;
}

nav a{
	text-decoration: none;
	color: #282828;
	font-size: 20px;
	padding: 5px;
	width: 100%;
}

nav ul{
	list-style: none;
	overflow: show;
	color: black;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: max-height 0.5s;
}

nav ul li{
	display: inline-block;
	padding: 1rem;
} */

/* 空出两边把两边物体往中间移动
用别的方法居中other than using padding */